<%- include('./partials/header.ejs')%>
<div id="container">

<h3>About Roommate Sync</h3>
    <p>A place to organize, plan with your roommates and live in sync.</p>
</div>




<%- include('./partials/footer.ejs')%>
