<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Message App Interface</title> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../public/css/choresStyles.css">
    <script src="../chores.js" defer></script>

   
</head>
<header>
    <button onclick="location.href='menu.html'" class="back-button">
        <i class="fa fa-backward"></i>
    </button>
</header>

<body>
    <div class="header-title" id="date">
        <button onclick="location.href='menu.html'" class="back-button">
            <i class="fa fa-backward"></i>
        </button>
        Chores
    </div>
    <main>
        <div class="chores-container">
<p>chore1</p>
<p>chore2</p>

        </div>
        <div class="legend-container">
<p>D=Dishes</p>
    </main>



</body>

</html>