<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=PT+Serif&family=Patua+One&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../public/css/style.css">
    <title>Roommate Sync</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="roommate">
                <div class="roommate-img">
                    <img src="../public/images/roommate-sync-logo.png" alt="roommate sync logo">
                </div>

                <div class="menu-choices">
                    <a href="" class="menu-choice-1">
                        <!-- add friends should be a button inside the roommates page-->
                        <h2>Roommates</h2>
                    </a>
                    <a href="message.html" class="menu-choice-2">
                        <!-- add friends should be a button inside the roommates page-->
                        <h2>Messages</h1>
                    </a>
                    <a href="" class="menu-choice-3">
                        <!-- add friends should be a button inside the roommates page-->
                        <h2>Calender</h2>
                    </a>
                    <a href="profile.html" class="menu-choice-4">
                        <!-- add friends should be a button inside the roommates page-->
                        <h2>Profile</h2>
                    </a>
                    <a href="" class="menu-choice-5">
                        <!-- add friends should be a button inside the roommates page-->
                        <h2>Chores</h2>
                    </a>
                    <a href="" class="menu-choice-6">
                        <!-- add friends should be a button inside the roommates page-->
                        <h2>Bill Splitting</h2>
                    </a>
                </div>
            </div>
            <a href="../index.html"><button class="logout">Logout</button></a>
        </div>



    </main>
</body>
<script src="./renderer.js"></script>

</html>