<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Profile Page</title>
<style>
    .profile-page {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    .profile {
        text-align: center;
        margin: 50px 0;
    }
    .profile-icon {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-bottom: 40px;
    }
    .profile-name {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .edit-profile {
        background: none;
        border: 1px solid black;
        padding: 10px 20px;
        cursor: pointer;
    }
    a {
    text-decoration: none;
    color: black;
    }
</style>
</head>
<body>

<div class="profile-page">

    <div class="header">
        <a href="/"><button>Go back</button></a>
    </div>

    <div class="profile">
        <div class="profile-icon">
                <img src="<%= user.image %>" alt="profile account logo" width="130" height="130">
        </div>

        <div class="profile-name"><%=user.firstName%> <%=user.lastName%></div>
        
        <form method='POST' enctype="multipart/form-data" action="/users/profile">
            <div class="edit-profile">
                <input type="file" class="custom-file-input form-control" id="image" name="image" required>
                <input onclick=" window.location.href='/users/profile' " type="submit" value="Submit">
            </div>
        </form>
    </div>

</div>
</body>
</html>