<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=PT+Serif&family=Patua+One&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/style.css">
  <title>Roommate Sync</title>
    <script src="./renderer.js"></script>
  </head>
  <body>
    <main>
      <div class="roommate">
        <div class="roommate-h1">
          <h1 id="test">Roommate Sync</h1>
        </div>
        <div class="roommate-img">
          <a href="/"><img src="/images/roommate-sync-logo.png"  alt="roommate sync logo"></a>
        </div>
      </div>
  
      <form action = '/users/login' method = 'POST'>
        <div class="account">
          <!-- <label for="username">Username</label> -->
          <img src="/images/accountjpg.jpg" alt="account logo">
          <input type="email" placeholder="Email" id="email" name="email" required>
        </div>
  
        <div class="password">
          <!-- <label for="password">Password</label> -->
          <img src="/images/password-logo.png" alt="password logo">
          <input type="password" placeholder="Password" id="password" name="password" required>
        </div>

  
      <div class="signup-buttons">

        <a id="newAccount" href="/users/new">Create account</a>
        
        <input type="submit" value="Login">

      </div>
    </form>

    </main>
    <% if(errorMessages.length > 0) {%>
      <% errorMessages.forEach(message=>{%>
          <div class='error'>
              <%=message%>
          </div>
          <%});%>
              <%}%>
  
                  <% if(successMessages.length > 0) {%>
  
                      <% successMessages.forEach(message=>{%>
                          <div class='success'>
                              <%=message%>
                          </div>
                          <%});%>
                              <%}%>
  </body>
  
</html>