<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/messagesStyles.css">
    <script src="/socket.io/socket.io.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js"
      integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg=="
      crossorigin="anonymous"
    ></script>
    <!-- <script src="/js/messaging.js" defer></script> -->
    <title>Roommate Sync</title>
  </head>
  <body>
    <div class="roommate">
        <h1>Welcome back, <%-user.firstName %>!</h1>

          <div class="roommate-img">
              <a href="/"><img id="logo" src="/images/roommate-sync-logo.png" alt=""></a>

              </div>


    <%if(!messages.length) {%>
      <h4 class="one-column">You have no messages.</h4>
  <%} else { %>
    <h4 class="one-column">Your Messages:</h4>

    <% for(let i=0; i < messages.length; i++){ %>      
          <article class="card">
              <div class="card-header">
                <span><%=messages[i].date%></span>
                  <p><%=messages[i].message%></p>
              </div>
              <div class="card-body">
                  <div>
                  </div>
                  <div class="two-column">
                  </div>
              </div>
          </article>
      </a>
  <% } 
  }%>
  <a href="/messages/new"><p>New message</p></a>
  </body>
</html>
